#include "get_{{ feature_snake_name }}_request_handler.h"
#include "automapper/automapper.h"
#include "persistence/interface_{{ feature_snake_name }}_repository.h"

using namespace Application::Features::{{ feature_pascal_name }}::Queries;

Get{{ feature_pascal_name }}RequestHandler::Get{{ feature_pascal_name }}RequestHandler(QSharedPointer<Interface{{ feature_pascal_name }}Repository>repository)
    : Handler(), m_repository(repository)
{}

Result<{{ feature_pascal_name }}DTO>Get{{ feature_pascal_name }}RequestHandler::handle(QPromise<Result<void> >& progressPromise,
                                                   const Get{{ feature_pascal_name }}Request& request)
{
    Result<{{ feature_pascal_name }}DTO> result;

    try
    {
        result = handleImpl(request);
    }
    catch (const std::exception& ex)
    {
        result = Result<{{ feature_pascal_name }}DTO>(Error(Q_FUNC_INFO, Error::Critical, "Unknown error", ex.what()));
        qDebug() << "Error handling Get{{ feature_pascal_name }}Request:" << ex.what();
    }
    return result;
}

Result<{{ feature_pascal_name }}DTO>Get{{ feature_pascal_name }}RequestHandler::handleImpl(const Get{{ feature_pascal_name }}Request& request)
{
    qDebug() << "Get{{ feature_pascal_name }}RequestHandler::handleImpl called with id" << request.id;

    // do
    auto {{ feature_snake_name }}Result = m_repository->get(request.id);

    if ({{ feature_snake_name }}Result.isError())
    {
        return Result<{{ feature_pascal_name }}DTO>({{ feature_snake_name }}Result.error());
    }

    // map
    auto dto = AutoMapper::AutoMapper::map<Domain::{{ feature_pascal_name }}, {{ feature_pascal_name }}DTO>(chapterResult.value());

    qDebug() << "Get{{ feature_pascal_name }}RequestHandler::handleImpl done";

    return Result<{{ feature_pascal_name }}DTO>(dto);
}

void CallOnce::registerMappings() 
{
    AutoMapper::AutoMapper::registerMapping<Domain::{{ feature_pascal_name }}, Contracts::DTO::{{ feature_pascal_name }}::{{ feature_pascal_name }}DTO>(true);
}
