#include "get_all_{{ entity_mappable_with_snake }}_query_handler.h"
#include "automapper/automapper.h"
#include "persistence/interface_{{ entity_mappable_with_snake }}_repository.h"

using namespace Application::Features::{{ feature_pascal_name }}::Queries;

GetAll{{ entity_mappable_with_pascal }}QueryHandler::GetAll{{ entity_mappable_with_pascal }}QueryHandler(Interface{{ entity_mappable_with_pascal }}Repository *repository)
    : m_repository(repository)
{
    if (!s_mappingRegistered)
    {
        registerMappings();
        s_mappingRegistered = true;
    }
}

Result<QList<{{ entity_mappable_with_pascal }}DTO> >GetAll{{ entity_mappable_with_pascal }}QueryHandler::handle(QPromise<Result<void> >& progressPromise)
{
    qDebug() << "GetAll{{ entity_mappable_with_pascal }}QueryHandler::handle called";

    Result<QList<{{ entity_mappable_with_pascal }}DTO> > result;

    try
    {
        result = handleImpl(progressPromise);
    }
    catch (const std::exception& ex)
    {
        result = Result<QList<{{ entity_mappable_with_pascal }}DTO> >(Error(Q_FUNC_INFO, Error::Critical, "Unknown error", ex.what()));
        qDebug() << "Error handling GetAll{{ entity_mappable_with_pascal }}Query:" << ex.what();
    }
    return result;
}

Result<QList<{{ entity_mappable_with_pascal }}DTO> >GetAll{{ entity_mappable_with_pascal }}QueryHandler::handleImpl(QPromise<Result<void> >   & progressPromise)
{
    qDebug() << "GetAll{{ entity_mappable_with_pascal }}QueryHandler::handleImpl called";

    // do
    auto {{ entity_mappable_with_camel }}Result = m_repository->getAll();

    if (Q_UNLIKELY({{ entity_mappable_with_camel }}Result.isError()))
    {
        return Result<QList<{{ entity_mappable_with_pascal }}DTO> >({{ entity_mappable_with_camel }}Result.error());
    }

    // map
    QList<{{ entity_mappable_with_pascal }}DTO> dtoList;

    for (const Domain::{{ entity_mappable_with_pascal }}& {{ entity_mappable_with_camel }} : {{ entity_mappable_with_camel }}Result.value())
    {
        auto dto = AutoMapper::AutoMapper::map<Domain::{{ entity_mappable_with_pascal }}, {{ entity_mappable_with_pascal }}DTO>({{ entity_mappable_with_camel }});
        dtoList.append(dto);
    }

    qDebug() << "GetAll{{ entity_mappable_with_pascal }}QueryHandler::handleImpl done";

    return Result<QList<{{ entity_mappable_with_pascal }}DTO> >(dtoList);
}

bool GetAll{{ entity_mappable_with_pascal }}QueryHandler::s_mappingRegistered = false;

void GetAll{{ entity_mappable_with_pascal }}QueryHandler::registerMappings() 
{
    AutoMapper::AutoMapper::registerMapping<Domain::{{ entity_mappable_with_pascal }}, Contracts::DTO::{{ feature_pascal_name }}::{{ entity_mappable_with_pascal }}DTO>(true);
}
