#pragma once

#include "{{ export_header }}"
#include "{{ feature_snake_name }}/{{ entity_mappable_with_snake }}_dto.h"
#include "{{ feature_snake_name }}/commands/remove_{{ entity_mappable_with_snake }}_command.h"

#include "persistence/interface_{{ entity_mappable_with_snake }}_repository.h"
#include "result.h"
#include <QPromise>

using namespace Contracts::DTO::{{ feature_pascal_name }};
using namespace Contracts::Persistence;
using namespace Contracts::CQRS::{{ feature_pascal_name }}::Commands;

namespace Application::Features::{{ feature_pascal_name }}::Commands
{
class {{ export }} Remove{{ entity_mappable_with_pascal }}CommandHandler : public QObject 
{
    Q_OBJECT
  public:
    Remove{{ entity_mappable_with_pascal }}CommandHandler(Interface{{ entity_mappable_with_pascal }}Repository *repository);
    Result<int> handle(QPromise<Result<void>> &progressPromise, const Remove{{ entity_mappable_with_pascal }}Command &request);
    Result<int> restore();

  signals:
    void {{ entity_mappable_with_camel }}Created(Contracts::DTO::{{ entity_mappable_with_pascal }}::{{ entity_mappable_with_pascal }}DTO {{ entity_mappable_with_camel }}Dto);
    void {{ entity_mappable_with_camel }}Removed(int id);

  private:
    Interface{{ entity_mappable_with_pascal }}Repository *m_repository;
    Result<int> handleImpl(QPromise<Result<void> >   & progressPromise, const Remove{{ entity_mappable_with_pascal }}Command &request);
    Result<int> restoreImpl();
    Domain::{{ entity_mappable_with_pascal }} m_oldState;
    static bool s_mappingRegistered;
    void registerMappings();
};

} // namespace Application::Features::{{ feature_pascal_name }}::Commands
