<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundleDisplayName</key>
	<string>Skribisto</string>
	<key>CFBundleName</key>
	<string>Skribisto</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
	<string>com.skribisto.skribisto</string>
	<key>CFBundleTypeExtensions</key>
	<string>plume</string>
	<key>CFBundleTypeIconFile</key>
	<string>skribisto</string>
	<key>CFBundleTypeName</key>
	<string>Skribisto Project</string>
	<key>CFBundleTypeRole</key>
	<string>None</string>
	<key>LSIsAppleDefaultForType</key>
	<true/>
	<key>LSMultipleInstancesProhibited</key>
	<true/>

</dict>
</plist>
