[Desktop Entry]
Name=Skribisto
GenericName=Writing software
GenericName[fr]=Logiciel d'écriture
Comment=Manage your writing projects
Comment[fr]=Organisez avec vos projets d'écriture.
Icon=eu.skribisto.skribisto
Exec=SkribistoDesktop
Terminal=false
Type=Application
Categories=Qt;Office;
MimeType=application/x-skribisto;application/x-skribisto-backup;
