[Desktop Entry]
Name=Plume Creator
GenericName=Writing software
GenericName[fr]=Logiciel d'écriture
Comment=Write your fiction here ! Manage your writing projects
Comment[fr]=Ecrivez ici votre fiction ! Organisez avec vos projets d'écriture.
Icon=plume-creator
Exec=plume-creator
Terminal=false
Type=Application
Categories=Qt;Office;
MimeType=application/x-plume;application/x-plume-backup;
