#pragma once

#include "{{ header_file }}"
{% for header in headers -%}
#include {{ header }}
{% endfor %}
#include <QObject>

namespace Domain {

class {{ export }} DomainRegistration : public QObject
{
    Q_OBJECT
  public:
    explicit DomainRegistration(QObject *parent)
    {
        {% for entity in entities_list %}
        qRegisterMetaType<Domain::{{ entity.name }}>("Domain::{{ entity.name }}");
        {%- endfor %}

    }
};

} // namespace Domain