#pragma once
#include "{{ controller.feature_snake_name }}/{{ controller.feature_snake_name }}_controller.h"
#include <QQmlEngine>

struct Foreign{{ controller.feature_pascal_name }}Controller
{
    Q_GADGET
    QML_FOREIGN(Presenter::{{ controller.feature_pascal_name }}::{{ controller.feature_pascal_name }}Controller)
    QML_SINGLETON
    QML_NAMED_ELEMENT({{ controller.feature_pascal_name }}Controller)

public:

    // Initialize this singleton instance with the given engine.

    inline static Presenter::{{ controller.feature_pascal_name }}::{{ controller.feature_pascal_name }}Controller *s_singletonInstance = nullptr;

    static Presenter::{{ controller.feature_pascal_name }}::{{ controller.feature_pascal_name }}Controller* create(QQmlEngine *, QJSEngine *engine)
    {
        s_singletonInstance = Presenter::{{ controller.feature_pascal_name }}::{{ controller.feature_pascal_name }}Controller::instance();

        // The instance has to exist before it is used. We cannot replace it.
        Q_ASSERT(s_singletonInstance);

        // The engine has to have the same thread affinity as the singleton.
        Q_ASSERT(engine->thread() == s_singletonInstance->thread());

        // There can only be one engine accessing the singleton.
        if (s_engine) Q_ASSERT(engine == s_engine);
        else s_engine = engine;

        // Explicitly specify C++ ownership so that the engine doesn't delete
        // the instance.
        QJSEngine::setObjectOwnership(s_singletonInstance, QJSEngine::CppOwnership);

        return s_singletonInstance;
    }

private:

    inline static QJSEngine *s_engine = nullptr;
};
