# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-plume-backup
Icon=plume-creator-backup
Comment=Plume Creator Backup file
Comment[fr]=Copie de secours d'un projet de Plume Creator
Type=MimeType
Patterns=*.plume_backup
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.plume_backup
