# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-plume
Icon=plume-creator
Comment=Write your fiction here ! Manage your writing projects
Comment[fr]=Ecrivez ici votre fiction ! Organisez avec vos projets
Type=MimeType
Patterns=*.plume
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.plume
