find_package(Qt6 COMPONENTS Core  REQUIRED)

set(PROJECT_NAME {{ application_name }}-contracts-dto-{{ feature_snake_name }})

set(SRC

    {% for file in files %}
    {{ file }}
    {%- endfor %}
)
qt_add_library(${PROJECT_NAME} STATIC ${SRC})

target_include_directories(${PROJECT_NAME} PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}")

{% for feature_dependency in feature_dependencies %}
add_dependencies(${PROJECT_NAME} {{ application_name }}-contracts-dto-{{ feature_dependency }})
{% endfor %}
{% for feature_dependency in feature_dependencies %}
target_link_libraries(${PROJECT_NAME} PUBLIC {{ application_name }}-contracts-dto-{{ feature_dependency }})
{% endfor %}

target_link_libraries(${PROJECT_NAME}
    PRIVATE Qt6::Core
)